.projects-container {
  padding: 2vw 10vw;
}

.projects-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 2rem;
  margin: 2rem auto;
}

.project-card {
  box-sizing: border-box;
  background-color: var(--card-blue);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding-bottom: 1rem;
  /* width: 40vw; */
  box-shadow: 0 0 15px rgba(112, 107, 152, 0.2);
  overflow: hidden;
  /* transition: var(--transition); */
}

.project-description {
  padding: 0.5rem 2rem;
}

.btn {
  background-color: var(--light-blue);
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.3rem;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(112, 107, 152, 0.2);
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  margin: 0.5rem 0.5rem;
  font-family: "Fira Code";
}

.btn:hover {
  background-color: #333;
  color: #fff;
}


/* Responsiveness */
@media (max-width: 620px) { /* Adjust this breakpoint as needed */
  .projects-cards {
    grid-template-columns: 1fr; /* switches to a single column layout */
  }
}
