.projects-container {
  padding: 2vw 10vw;
}

.projects-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 2rem;
  width: 100%;
  align-items: center;
  padding: 2rem 0;
}

.project-card {
  box-sizing: border-box;
  background-color: var(--card-blue);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 0 15px rgba(120, 107, 152, 0.2);
  overflow: hidden;
  height: 24rem;
}

.project-description {
  padding: 0.5rem 2rem;
}

.btn {
  background-color: var(--light-blue);
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.3rem;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(112, 107, 152, 0.2);
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  margin: 0.5rem 0.5rem;
  font-family: "Fira Code";
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

/* For tablet devices */
@media (min-width: 601px) and (max-width: 1024px) {
  .projects-cards {
    display: block;
    grid-template-columns: none;
    gap: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .project-card {
    margin-bottom: 2rem;
    height: auto;
  }
}

/* For mobile devices */
@media (max-width: 600px) {
  .projects-cards {
    display: block;
    grid-template-columns: none;
    gap: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  .project-card {
    margin-bottom: 2rem;
    height: auto;
  }
}
