.about-container {
  padding: 5vw 10vw;
}

.about-cards {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.about-card {
  background-color: var(--card-blue);
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  margin: 2rem 0;
  width: 50%;
  box-shadow: 0 0 15px rgba(112, 107, 152, 0.2);
  transition: var(--transition);;
}

.about-card:hover {
  transition: 0.1s 0.1s, inset 0.1s;
  background: transparent;
  border-color: transparent;
}

.about-card > h3 {
  text-align: center;
  color: #bcd1ff;
}

.about-card > li {
  margin: 0.5rem;
}


