.home-intro{
  padding-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-photo > img{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-right: 50px;
  object-fit: cover;
}

.blurry-gradient-green{
  background: radial-gradient(circle at 50% 50%,#43d9ad,rgba(76,0,255,0));;
  border-radius: 100% 0 0;
  filter: blur(100px);
  height: 400px;
  opacity: .5;
  position: absolute;
  right: 35%;
  rotate: 20deg;
  top: 10%;
  width: 400px;
  animation:
    transform 7s ease-in-out infinite both alternate,
    movement_two 16s ease-in-out infinite both;
}

.blurry-gradient-blue {
  background: radial-gradient(circle at 50% 50%,#4d5bce,rgba(76,0,255,0));
  border-radius: 100% 50% 100% 0;
  filter: blur(100px);
  bottom: 10%;
  height: 500px;
  opacity: .7;
  position: absolute;
  right: 10%;
  width: 500px;
  animation:
    transform 7s ease-in-out infinite both alternate,
    movement_two 16s ease-in-out infinite both;
}

@keyframes movement_two
{
    0%,
  500% { transform: none; }
   50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.3);}
}
